.show-button{
  height: 40px;
  width :100px;
  background-color: rgb(75, 75, 197);
  color : white;
  font-size: 16px;
  cursor: pointer;
}

.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}